body{
    width: 1920px;
    height: 1080px;
    border: 1px solid red;
}
.snitch {
    width: 100px;
    height: 100px;
    display: inline-block;
    background: black;
    position: relative;
    left: 0;
    top: 0;
    transition: 2.5s;
}