@import url(reset.css);
body{
    font-family: 'Roboto', sans-serif;
    color: #333333
}
.main {
    
}

.content {

    // .content__container

    &__container {
        width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}

.jokes {

    // .jokes__block

    &__block {
        padding: 40px 140px;
    }

    // .jokes__year

    &__year {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 78px;
    }

    // .jokes__header

    &__header {
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
    }

    // .jokes__heades--second

    &__heades--second {
        font-weight: 500;
        font-size: 24px;
        line-height: 44px;
        margin-bottom: 43px;

    }

    // .jokes__form

    &__form {
        font-size: 18px;
        line-height: 26px;
    }

    // .jokes__random
    &__radio{
        position: relative;
            color: black;
            appearance: none;
            border: 2px solid black;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            transition: all 0.3s ease-in-out;
            transform: translate(0, 3px);
        
            &:checked::before {
                content: '';
                width: 13px;
                height: 13px;
                position: absolute;
                left: 0;
                top: 0;
                background-color: black;
                border-radius: 50%;
                transform: translate(1.95px, 1.55px);
            }
    }
    &__random {
    }

    // .jokes__categories

    &__categories {

        &:checked + .jokes__ul--second{
            display: flex;
        }
    }
    
    // .jokes__categories--animal
    
    &__categories--category {
        appearance: none;
        position: relative;
        cursor: pointer;
        width: 65px;
        height: 28px;
        z-index: 15;
        &:checked + label {
            color: #333333;
            border-color: #333333;
        }
    }   
    &__categories--category-label{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #ABABAB;
        position: absolute;
        border: 1px solid #ABABAB;
        border-radius: 6px;
        padding: 6px 5px;
        width: 65px;
        text-align: center;
    }
    // jokes__search
    &__ul--second{
        display: none;
        margin: 20px 0 20px;
        gap: 20px;
        & li{
            position: relative;
            width: 65px;
            height: 28px;
            display: flex;
        }
    }
    &__search {

    }

    // .jokes__search--input

    &__search--input {
        padding: 10px 15px;
        border-radius: 6px;
        border: 1px solid #ABABAB;
        margin: 20px 0px;
        display: block;
        width: 100%;
    }

    // .jokes__get--button

    &__get--button {
        cursor: pointer;
        background: linear-gradient(90.55deg, #8EA7FF 0%, #7291FF 100%);
        border-radius: 10px;
        border: none;
        padding: 10px 40px;
        color: white;
        margin-bottom: 50px;
    }

    // .jokes__last

    &__last {}
    
         // .jokes__svg
    
    &__svg {
        width: 35px;
        height: 35px;

    }
    
         // .jokes__id
    
    &__id {
        color: #ABABAB;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
    }
    
         // .jokes__joke
    
    &__joke {
        font-size: 18px;
        line-height: 26px;
        color: #333333;
        max-width: 540px;
    }
    
         // .jokes__timer
    
    &__timer {
        font-size: 10px;
        line-height: 14px;
        color: #ABABAB;
    }
    
         // .jokes__category
    
    &__category {
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #333333;
        padding: 6px 20px;
    }
    &__field{
        background: #F8F8F8;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 67px 40px 45px;
    }
}

.history {

    // .history__block

    &__block {}

    // .history__header

    &__header {}

    // .history__flex

    &__flex {}
}