@import 'reset';
.header {

    // .header__logo

    &__logo {
        padding: 15px;
    }
}
.content {

    // .content__container

    &__container {
        width: 1200px;
        margin: 0 auto;
    }
}
